.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  background: rgba(252, 252, 252, 1);
  border-radius: 6px;
  width: 602px;
  height: 412px;
  padding: 0 39px;
  border: 1px solid rgba(126, 126, 126, 0.2);
  box-shadow: 8px 15px 47.9px 0px rgba(17, 28, 63, 0.14);
  margin: 0 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 93px;
  border-bottom: 1px solid rgba(126, 126, 126, 0.2);

  .logo {
    width: 66px;
    height: 66px;
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 76px 37px;
  row-gap: 12px;

  @media (max-width: 480px) {
    padding: 76px 10px;
  }
}

.button {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: rgba(45, 74, 161, 1);
  color: rgba(252, 252, 252, 1);
  transition: all 250ms;

  &:hover {
    background-color: rgb(62, 93, 187);
    box-shadow:
      0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
}
