.loader_back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-image: url('../../assets/images/fon.png');
  background-size: contain;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating_image {
  animation: rotate 5s linear infinite;
}
